.dynamicText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 40px;
  color: #2d9a0c;
  font-size: 30px;
}

.dynamicEnding {
  display: inline-block;
  border-right: 2px solid #1f6809;
  animation: blink 1s infinite;
  color: #2d9a0c;
  font-size: 30px;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
