body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8f0; /* Fond vert clair, comme suggéré */
  color: #333; /* Couleur de texte sombre */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le container prend toute la hauteur de l'écran */
}

/* Styles pour le Navbar */
.navbar {
  background-color: #4CAF50; /* Vert plus foncé pour le navbar */
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre pour donner une impression de hauteur */
}

.navbar-left {
display: flex;
align-items: center;
}
.navbar-left img {
  width: 40px; /* Ajuster la taille du logo */
  margin-right: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right button,
.navbar-right a {
  margin-left: 10px;
  background-color: #5CB85C; /* Couleur des boutons du navbar */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-right button:hover,
.navbar-right a:hover {
  background-color: #47A447; /* Couleur du bouton au survol */
}

/* Styles pour le Content */
.content {
  flex: 1; /* Le content prend l'espace disponible */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form-container {
  margin-top: 50px;
  background-color: white; /* Fond blanc pour la section de recherche */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la section de recherche */
  width: 80%; /* Largeur de la section de recherche */
  max-width: 600px; /* Largeur maximale de la section de recherche */
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white; /* Fond blanc pour le conteneur */
  margin: 100px auto; /* Centre le formulaire verticalement et horizontalement */
  width: 80%;
  max-width: 900px;
}
.search-input {
  border: none;
  background: none;
  flex: 1;
  padding: 10px 0;
  font-size: 16px;
}
.search-input > input {
border: none;
background: none;
flex: 1;
}
.search-input img {
  width: 20px;
}
.search-input-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-button {
  background-color: #f0c14b; /* Jaune pour le bouton de recherche */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
  margin: 20px auto 0; /* Marge en haut et centré */
  display: block;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #daa520; /* Jaune plus sombre au survol */
}

.login-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.login-button > img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}


/* Styles généraux pour les boutons */
button {
  background-color: #f0c14b; /* Jaune pour les boutons */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
button:hover {
background-color: #daa520; /* Jaune plus sombre au survol */
}

/* Styles pour les pages simples */
.content h1 {
  text-align: center;
  margin-top: 50px;
}
.inputs-container {
  display: flex;
   justify-content: space-between; /* Place les éléments côte à côte avec un espace entre eux */
   width: 100%; /* Les conteneurs d'input occupent 100% de la largeur du formulaire */
   margin-bottom: 20px; /* Ajoute un peu d'espace sous les champs de saisie */
}
.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  width: 30%;
  margin: 0 5px;
}
.icon {
  width: 400%;
  height: 250%;
}
.icon-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.summary-buttons-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.summary-button {
  background-color: #6EA46C;
  color: black;
  font-weight: bold;
  padding: 14px 22px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-width: 200px; /* Evite que les boutons soient trop petits */
  text-align: center;
}

.summary-button:hover {
  background-color: #5A8F58;
}
